<div class='main'>
  <div class='whitebackground'>
    <div class='textbox'>
      <p align="justify">The world of Iron Skies is set in one great ocean scattered with islands upon which the factions involved are fighting a vicious war over resources. The players have fleets of airships that they can use to attack and defend their nations. The number of islands under their control directly influences the number of fleets they can use.</p>
      <p align="justify">The gameplay involves all players issuing orders to their fleets whilst debating with each other, forming alliances, making declarations and even dabbling in acts of intrigue. At the end of a set period of time the orders given will be played out on the world map. At this point the game shall repeat itself until a victory condition is met. Players do not need to do anything they say they shall do during the orders phase. Who do you trust?</p>
      <p align="justify">The turns shall take place over a number of years, with two turns taking place each year. The first “Spring” turn has no special occurences however the following “Autumn” turn is when your number of fleets is either increased or decreased depending on the number of Islands you possess.</p>
      <p align="justify">Victory conditions are randomised throughout the factions for each game (other than the British Empire faction) so as to allow for intrigue and diplomacy where no one can be sure of anyone's true objective.</p>
      <p align="justify">To win as the British Empire you must eliminate all other factions, aside from your two 'loyal' factions. You will not know who they are. Aside from the two 'loyal' factions, there will be three 'rebel' factions that win by destroying the British Empire. Finally there is a 'Rogue' nation, who have a secret objective.</p>
    </div>
  </div>
</div>