<center><h2>TicTacToe</h2></center>
<center><h3>Scrolling List of Current Players</h3></center>
<div class="whitebackground">
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <div class="game_names">
         <td><%= user.username %></td>
        </div>
      </tr>
    <% end %>
  </tbody>
</div>