<div class='main2'>
  <div class="whitebackground">
    <tbody>
      <% @users.each do |user| %>
      <tr>
        <div class="game_names">
         <td><%= user.username %></td>
       </div>
     </tr>
     <% end %>
   </tbody>
 </div>
</div>