<div class='mainhome'>
<div class='whitebackgroundsmall'>
  <div class='textbox'>
    <p align="justify"><b>Iron Skies</b> is a social game of conquest and strategy. Up to 7 Players choose from a myriad of distinct factions and compete to rule the skies!.</p>
  </div>
</div>
</div>