<div class='mainhome'>
<div class='whitebackgroundsmall'>
</div>
<div class='textboxsmall'>
  <p align="justify"><b>Iron Skies</b> is a social game of conquest and strategy. Up to 7 Players control a selection of factions with distinct objectives and compete to rule the skies!.</p>
</div>
</div>