<div class='mainhome'>
<div class='whitebackgroundsmall'>
  <div class='textbox'>
    <p align="justify"><b>Iron Skies</b> is a social game of conquest and strategy. Players can choose from 7 factions and compete with six others using simple gameplay mechanics that are easy to learn and hard to master.</p>
  </div>
</div>
</div>