<center><h2>TicTacToe</h2></center>
<center><h3>Scrolling List of Current Games</h3></center>
<div class="game_list">
  <tbody>
    <% @games.each do |game| %>
      <tr>
      <div class="game_names">
        <td>-<%= link_to game.name, game %></td>
      </div>
      </tr>
    <% end %>
  </tbody>
</div>
<center><p><%= link_to 'New Game', new_game_path(@game) %></p></center>