<br>
<div class='main2'>
  <div class="whitebackground">
  </div>
  <div class='textbox'>
    <tbody>
      <div class='newgamebutton'><%= link_to 'New Game', new_game_path(@game) %></div>
      <% @games.each do |game| %>
      <tr>
        <div>
          <div class='gamelistbutton'><%= link_to game.name, game %></div>
        </div>
      </tr>
      <% end %>
    </tbody>
  </div>
</div>