<div class='main2'>
  <div class="whitebackground">
   <b><p>Game name: <%= @game.name %></p></b>
   <a class='newgamebutton' href=<%= new_game_player_path(@game) %>>Add Player</a><br>

   <% @game.players.each do |player| %>
   <%= player.username %> <br>

   <%= link_to "Start Game", start_game_path(@game) , method: :put, :class => 'newgamebutton'%>

   <% end %>

 </div>
</div>