/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
     font-family: calligraphyflf;
     src: url(/calligraphyflf.ttf);
 }

html { 
  background: url("/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

ul li {
  list-style: none;
  text-decoration: none;
  display: inline;
}

.main2 {
  top: 5rem;
  border: 1px solid black;
  position: relative;
  height:30rem;
  width: 60%;
  left: 20%;
  background: url("http://cdn.speckyboy.com/wp-content/uploads/2013/01/FASA-10.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.mainhome {
  top: 5rem;
  border: 1px solid black;
  position: relative;
  height:30rem;
  width: 60%;
  left: 20%;
  background: url("http://www.scifiwright.com/wp-content/uploads/2011/07/Airships.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  top: 5rem;
  border: 1px solid black;
  position: relative;
  height:30rem;
  width: 60%;
  left: 20%;
  background: url("http://bs1.imghost.nu/images/1/102888.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_menu {
  position: fixed;
  left: 30%;
  top: 1%;
  display: inline;
}

.whitebackground {
  border: 1px solid black;
  opacity: 0.7;
  background-color: white;
  position: relative;
  height: 26rem;
  width: 60%;
  left: 20%;
  top: 2rem;
  overflow: scroll;
  font-family: 'calligraphyflf';
  font-size: 24px;
}

.textbox {
  color: black;
  opacity: 0%;
  overflow: scroll;
}

a {
  text-decoration: none;
  color: white;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #a6827e;
  -webkit-box-shadow:inset 0px 1px 0px 0px #a6827e;
  box-shadow:inset 0px 1px 0px 0px #a6827e;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #7d5d3b), color-stop(1, #634b30));
  background:-moz-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-webkit-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-o-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:-ms-linear-gradient(top, #7d5d3b 5%, #634b30 100%);
  background:linear-gradient(to bottom, #7d5d3b 5%, #634b30 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#7d5d3b', endColorstr='#634b30',GradientType=0);
  background-color:#7d5d3b;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;
  border:1px solid #54381e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  padding:6px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #4d3534;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #634b30), color-stop(1, #7d5d3b));
  background:-moz-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-webkit-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-o-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:-ms-linear-gradient(top, #634b30 5%, #7d5d3b 100%);
  background:linear-gradient(to bottom, #634b30 5%, #7d5d3b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#634b30', endColorstr='#7d5d3b',GradientType=0);
  background-color:#634b30;
}
.myButton:active {
  position:relative;
  top:1px;
}

