/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @font-face {
   font-family: calligraphyflf;
   src: url(/calligraphyflf.ttf);
 }

 html { 
  background: url("/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  opacity: 1;
}

ul li {
  list-style: none;
  text-decoration: none;
  display: inline;
}

a {
  text-decoration: none;
  color: white;
  display: block;
}

.announcements {
  position: relative;
  color: black;
  opacity: 0%;
  overflow: scroll;
  height: 10rem;
  width: 100%;
  left: 0%;
  top: 0rem;
  font-family: 'calligraphyflf';
  font-size: 24px;
}

.announcement_text {
  position: absolute;
  width:100%;
  overflow:scroll;
}

.announcementspic {
  position: absolute;
  width: 100%;
  height: 100%;
}

.fleet {
  position: relative;
  border: 1px solid black;
  width: 50%;
  background-color: white;
  left: 20%;
  top: 40%;
}

.gamepic {
  position: absolute;
  width: 100%;
  height: 100%;
}

.game {
  top: 5rem;
  border: 1px solid black;
  position: absolute;
  height:40rem;
  width: 80%;
  left: 19%;
}

.game_menu {
  top: 5rem;
  border: 1px solid black;
  position: absolute;
  height:40rem;
  width: 19%;
  left: 0px;
}

.main2 {
  top: 5rem;
  border: 1px solid black;
  position: relative;
  height:30rem;
  width: 60%;
  left: 20%;
  background: url("/floating_island.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  overflow: scroll;
}

.mainhome {
  top: 5rem;
  border: 1px solid black;
  position: relative;
  height:30rem;
  width: 60%;
  left: 20%;
  background: url("http://www.scifiwright.com/wp-content/uploads/2011/07/Airships.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main {
  top: 5rem;
  border: 1px solid black;
  position: relative;
  height:30rem;
  width: 60%;
  left: 20%;
  background: url("http://bs1.imghost.nu/images/1/102888.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.main_menu {
  position: absolute;
  left: 33%;
  top: 1px;
  padding: none;
  border: none;
}

.play {
  position: absolute;
  left: 45%;
  top: 3rem;
  display: inline;
}

.whitebackground {
  border: 1px solid black;
  opacity: 0.7;
  background-color: white;
  position: relative;
  height: 26rem;
  width: 60%;
  left: 20%;
  top: 2rem;
  overflow: scroll;
  font-family: 'calligraphyflf';
  font-size: 24px;
  color: black;
}

.whitebackgroundsmall {
  border: 1px solid black;
  opacity: 0.7;
  background-color: white;
  position: relative;
  height: 6rem;
  width: 90%;
  left: 4%;
  top: 9rem;
  overflow: scroll;
  font-family: 'calligraphyflf';
  font-size: 24px;
}

.whitebackgroundbig {
  opacity: 0.7;
  background-color: white;
  position: relative;
  height: 100%;
  width: 100%;
  overflow: scroll;
  font-family: 'calligraphyflf';
  font-size: 24px;
  color: black;
}

.textbox {
  position: absolute;
  color: black;
  opacity: 0%;
  overflow: scroll;
  height: 26rem;
  width: 60%;
  left: 20%;
  top: 2rem;
  overflow: scroll;
  font-family: 'calligraphyflf';
  font-size: 24px;
}

.textboxsmall {
  position: absolute;
  color: black;
  opacity: 0%;
  overflow: scroll;
  height: 6rem;
  width: 90%;
  left: 4%;
  top: 9rem;
  overflow: scroll;
  font-family: 'calligraphyflf';
  font-size: 24px;
}

.myButton {
  -moz-box-shadow:inset 0px 1px 0px 0px #d13434;
  -webkit-box-shadow:inset 0px 1px 0px 0px #d13434;
  box-shadow:inset 0px 1px 0px 0px #d13434;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #a30808), color-stop(1, #990505));
  background:-moz-linear-gradient(top, #a30808 5%, #990505 100%);
  background:-webkit-linear-gradient(top, #a30808 5%, #990505 100%);
  background:-o-linear-gradient(top, #a30808 5%, #990505 100%);
  background:-ms-linear-gradient(top, #a30808 5%, #990505 100%);
  background:linear-gradient(to bottom, #a30808 5%, #990505 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a30808', endColorstr='#990505',GradientType=0);
  background-color:#a30808;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.myButton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #990505), color-stop(1, #a30808));
  background:-moz-linear-gradient(top, #990505 5%, #a30808 100%);
  background:-webkit-linear-gradient(top, #990505 5%, #a30808 100%);
  background:-o-linear-gradient(top, #990505 5%, #a30808 100%);
  background:-ms-linear-gradient(top, #990505 5%, #a30808 100%);
  background:linear-gradient(to bottom, #990505 5%, #a30808 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990505', endColorstr='#a30808',GradientType=0);
  background-color:#990505;
}
.myButton:active {
  position:relative;
  top:1px;
}

.playButton {
  background-color:#44c767;
  -moz-border-radius:28px;
  -webkit-border-radius:28px;
  border-radius:25px;
  border:1px solid #18ab29;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:17px;
  padding:7px 13px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.playButton:hover {
  background-color:#5cbf2a;
}
.playButton:active {
  position:relative;
  top:1px;
}

.newgamebutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #868ccc;
  -webkit-box-shadow:inset 0px 1px 0px 0px #868ccc;
  box-shadow:inset 0px 1px 0px 0px #868ccc;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #5b5bab), color-stop(1, #514ba3));
  background:-moz-linear-gradient(top, #5b5bab 5%, #514ba3 100%);
  background:-webkit-linear-gradient(top, #5b5bab 5%, #514ba3 100%);
  background:-o-linear-gradient(top, #5b5bab 5%, #514ba3 100%);
  background:-ms-linear-gradient(top, #5b5bab 5%, #514ba3 100%);
  background:linear-gradient(to bottom, #5b5bab 5%, #514ba3 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5b5bab', endColorstr='#514ba3',GradientType=0);
  background-color:#5b5bab;
  border:1px solid #25226e;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.newgamebutton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #514ba3), color-stop(1, #5b5bab));
  background:-moz-linear-gradient(top, #514ba3 5%, #5b5bab 100%);
  background:-webkit-linear-gradient(top, #514ba3 5%, #5b5bab 100%);
  background:-o-linear-gradient(top, #514ba3 5%, #5b5bab 100%);
  background:-ms-linear-gradient(top, #514ba3 5%, #5b5bab 100%);
  background:linear-gradient(to bottom, #514ba3 5%, #5b5bab 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#514ba3', endColorstr='#5b5bab',GradientType=0);
  background-color:#514ba3;
}
.newgamebutton:active {
  position:relative;
  top:1px;
}


.gamelistbutton {
  -moz-box-shadow:inset 0px 1px 0px 0px #9acc85;
  -webkit-box-shadow:inset 0px 1px 0px 0px #9acc85;
  box-shadow:inset 0px 1px 0px 0px #9acc85;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #74ad5a), color-stop(1, #68a54b));
  background:-moz-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-webkit-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-o-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:-ms-linear-gradient(top, #74ad5a 5%, #68a54b 100%);
  background:linear-gradient(to bottom, #74ad5a 5%, #68a54b 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#74ad5a', endColorstr='#68a54b',GradientType=0);
  background-color:#74ad5a;
  border:1px solid #3b6e22;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}
.gamelistbutton:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #68a54b), color-stop(1, #74ad5a));
  background:-moz-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-webkit-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-o-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:-ms-linear-gradient(top, #68a54b 5%, #74ad5a 100%);
  background:linear-gradient(to bottom, #68a54b 5%, #74ad5a 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#68a54b', endColorstr='#74ad5a',GradientType=0);
  background-color:#68a54b;
}
.gamelistbutton:active {
  position:relative;
  top:1px;
}


.login {
  -moz-box-shadow:inset 0px 1px 0px 0px #8a0202;
  -webkit-box-shadow:inset 0px 1px 0px 0px #8a0202;
  box-shadow:inset 0px 1px 0px 0px #8a0202;
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #470101), color-stop(1, #990505));
  background:-moz-linear-gradient(top, #470101 5%, #990505 100%);
  background:-webkit-linear-gradient(top, #470101 5%, #990505 100%);
  background:-o-linear-gradient(top, #470101 5%, #990505 100%);
  background:-ms-linear-gradient(top, #470101 5%, #990505 100%);
  background:linear-gradient(to bottom, #470101 5%, #990505 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#470101', endColorstr='#990505',GradientType=0);
  background-color:#470101;
  border:1px solid #000000;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:13px;
  font-weight:bold;
  padding:6px 12px;
  text-decoration:none;
}

.login:hover {
  background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #990505), color-stop(1, #470101));
  background:-moz-linear-gradient(top, #990505 5%, #470101 100%);
  background:-webkit-linear-gradient(top, #990505 5%, #470101 100%);
  background:-o-linear-gradient(top, #990505 5%, #470101 100%);
  background:-ms-linear-gradient(top, #990505 5%, #470101 100%);
  background:linear-gradient(to bottom, #990505 5%, #470101 100%);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#990505', endColorstr='#470101',GradientType=0);
  background-color:#990505;
}
.login:active {
  position:relative;
  top:1px;
}

.field {
  text-align: center;
}

.names {
  opacity: 0.8;
  border: 1px solid black;
}